<section class="connect section">
  <div class="container">
    <div class="connect__box">

      <div class="connect__info">
        <h2 class="title connect__title">
          Скачайте мобильное приложение
        </h2>
        <p class="connect__text">
          Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и заказывайте еду в любом удобном
          месте.
        </p>
        <ul class="connect__list">
          <li class="connect__item">
            <a class="connect__link" href="#" target="_blank" rel="noreferrer">
              <img src="images/app_store.svg" width="120" height="40" alt="ссылка на эппл стор">
            </a>
          </li>
          <li class="connect__item">
            <a class="connect__link" href="#" target="_blank" rel="noreferrer">
              <img src="images/google_play.svg" width="135" height="40" alt="ссылка на гугл плей">
            </a>
          </li>
        </ul>
      </div>
      <div class="connect__image" style="background-image: url('images/connect__app.jpg');">
        <span class="sr-only">изображение еды</span>
      </div>
    </div>
  </div>


</section>