<section class="reviews section">
  <div class="container">
    <h2 class="title reviews__title">
      Отзывы клиентов
    </h2>
    <div class="reviews__slider swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <figure class="reviews__box">
            <img class="reviews__img" src="images/client.jpg" alt="фото клиента" width="300" height="300">
            <blockquote class="reviews__inner">
              <p class="reviews__feedback">
                SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
                приложение. Их
                доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
                однозначно
                рекомендую!
              </p>
              <cite class="reviews__name">
                Дарья
              </cite>
              <span class="reviews__text">
                Ценитель вкусной еды
              </span>
            </blockquote>
          </figure>
        </li>

        <li class="swiper-slide">
          <figure class="reviews__box">
            <img class="reviews__img" src="images/client.jpg" alt="фото клиента" width="300" height="300">
            <blockquote class="reviews__inner">
              <p class="reviews__feedback">
                SimpleFood2 - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
                приложение. Их
                доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
                однозначно
                рекомендую!
              </p>
              <cite class="reviews__name">
                Дарья
              </cite>
              <span class="reviews__text">
                Ценитель вкусной еды
              </span>
            </blockquote>
          </figure>
        </li>

        <li class="swiper-slide">
          <figure class="reviews__box">
            <img class="reviews__img" src="images/client.jpg" alt="фото клиента" width="300" height="300">
            <blockquote class="reviews__inner">
              <p class="reviews__feedback">
                SimpleFood3 - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
                приложение. Их
                доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
                однозначно
                рекомендую!
              </p>
              <cite class="reviews__name">
                Дарья
              </cite>
              <span class="reviews__text">
                Ценитель вкусной еды
              </span>
            </blockquote>
          </figure>
        </li>

        <li class="swiper-slide">
          <figure class="reviews__box">
            <img class="reviews__img" src="images/client.jpg" alt="фото клиента" width="300" height="300">
            <blockquote class="reviews__inner">
              <p class="reviews__feedback">
                SimpleFood2 - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
                приложение. Их
                доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
                однозначно
                рекомендую!
              </p>
              <cite class="reviews__name">
                Дарья
              </cite>
              <span class="reviews__text">
                Ценитель вкусной еды
              </span>
            </blockquote>

          </figure>
        </li>
      </ul>
      <div class="reviews__button-swiper">

        <button class="reviews__button swiper-button-right">
          <svg>
            <use xlink:href="images/sprite.svg#vector"></use>
          </svg>
        </button>
        <button class="reviews__button swiper-button-left">
          <svg>
            <use xlink:href="images/sprite.svg#vector"></use>
          </svg>
        </button>
        <div class="reviews__pagination">
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>

  </div>
</section>