.display-none {
  @include mq("phone") {
    display: none;
  }
}

.catalog-product {
  &__hero {
    display: flex;
    justify-content: space-between;
  }

  &__burger-close {
    display: none;


    @include mq("phone") {
      position: absolute;

      z-index: 2;
      display: block;
      width: 44px;
      height: 44px;
      border-radius: 3px;
      background-color: #FAEDED;
      top: 24px;

      right: 20px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 12px;


      width: 18px;
      height: 1px;
      background-color: $title-color;
    }

    &::before {
      transform: rotate(45deg);
      top: 50%;
    }

    &::after {
      transform: rotate(-45deg);
      top: 50%;
    }
  }

  &__burger-line {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 2;
  }

  &__box {
    margin-right: 30px;

    @include mq("phone") {
      display: none;
    }
  }

  &__box--active {
    display: block;
    position: absolute;
    z-index: 999;
    width: 80%;
    height: 100vh;
    top: 0;
    left: 0;
    padding-top: 70px;
    background-color: #fff;
  }

  &__top {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;

    @include mq("tablet") {
      display: block;
    }
  }

  &__menu {
    display: flex;
  }

  &__burger {

    @include mq("phone") {
      display: block;
      width: 47px;
      height: 47px;
      margin-right: 10px;
      background-position: center;
      background-color: #FAEDED;
      background-repeat: no-repeat;
      background-image: url('../images/ico/catalogmenu.svg');
    }
  }

  &__title {
    @include mq("tablet") {
      margin-bottom: 20px;
    }
  }

  &__filter-soft {
    font-size: 14px;
    padding: 15px;
  }

  &__label {
    display: flex;
    align-items: center;
    margin-right: 12px;
  }

  &__category {
    display: flex;
    flex-direction: column;
    max-width: 270px;
    width: 100%;
    background-color: $white;
    padding: 15px 15px 25px 15px;
    border-radius: 5px;
    margin-bottom: 30px;
  }

  &__item {
    font-size: 18px;
  }

  &__item-link {
    text-decoration: none;
  }

  &__item:not(:last-child) {
    margin-bottom: 12px;
  }

  &__caption {
    margin-bottom: 40px;
    border-bottom: 1px solid $silver-200;
    font-size: 24px;
    font-weight: 400;
  }

  &__food {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding-bottom: 60px;

    @include mq("desktop") {
      grid-template-columns: repeat(3, 1fr);

    }

    @include mq("tablet-2") {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 5px;
    }
  }

  &__swiper-left svg {
    transform: rotate(180deg);
  }


  &__select {
    display: flex;
  }


  &__checkbox {
    position: relative;
    appearance: none;
    width: 24px;
    height: 24px;
    background-color: #FAEDED;
    border-radius: 5px;
    box-shadow: 1px solid #ECECEC;

    &::before {
      content: '';
      display: block;
      position: absolute;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../images/sprite.svg#checkbox");
      filter: invert(100%) sepia(53%) saturate(1271%) hue-rotate(293deg) brightness(107%) contrast(95%);
      width: 12px;
      height: 12px;
      transform: translate(50%, 50%);
    }
  }

  &__checkbox:checked::before {
    filter: invert(20%) sepia(10%) saturate(1794%) hue-rotate(198deg) brightness(98%) contrast(90%);

  }

  &__swiper-arrow {
    padding: 15px;
    background-color: #FAEDED;
    border-radius: 3px;
    font-size: 18px;
    width: 48px;
    height: 48px;

    &:active {
      svg {
        filter: $gray-flter;
      }
    }
  }

  &__swiper-arrow svg {
    height: 18px;
    width: 11px;
  }

  &__swiper-btn {
    background-color: $orange-400;
    border-radius: 3px;
    font-size: 18px;
    width: 48px;
    height: 48px;
    transition: color 0.4s,
      background-color 0.4s,
      box-shadow 0.4s;

    &:hover {
      background-color: $orange-900;
      color: $white;
    }

    &:focus {
      background-color: #FAEDED;
      box-shadow: 0px 0px 0px 2px $orange-900;
      color: $title-color;
    }

    &:active {
      background-color: #FAEDED;
      box-shadow: 0px -1px 4px 2px rgba(0, 0, 0, 0.15) inset;
    }
  }

  &__swiper-item {
    padding: 0 7px;
  }

  &__swiper {
    display: flex;
    justify-content: center;
  }

  &__filter-sort {
    margin-right: 15px;
  }

}

.jq-selectbox__select-text {
  @extend %rubik;
  font-weight: 400;
  width: 100%;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 16px;
  right: 12px;
  width: 10px;
  height: 11px;
  border: none;
  transform: rotate(90deg);
  background-repeat: no-repeat;
  background-image: url("../images/sprite.svg#arrowmenu");
}

.jq-selectbox__dropdown ul {
  font-size: 14px;
  color: #31352b;
  padding-left: 30px;
  background-color: $white;
}

.jq-selectbox li {
  padding: 6px 0;
}

.jq-selectbox__select {
  @extend %rubik;
  box-shadow: none;
  height: 47px;
  border: 1px solid $gray;
  padding: 15px 41px 15px 15px;
  color: #31352b;
  font-size: 14px;
  text-shadow: none;
  background: $white;
  border-radius: 3px;

  &:hover {
    border-radius: 3px;
    box-shadow: $box-shadow-border;
    background: $white;
    color: $orange-900;
    border: none;
  }

  &:focus {
    color: #31352B;
    background: #fff;
    box-shadow: $box-shadow-border;
  }

  &:active {
    border: 1px solid $gray;
  }
}

.jq-selectbox__trigger {
  border-left: none;
}

.range-slider {
  position: relative;
  height: 80px;
}


.irs--round .irs-bar {

  height: 2px;
  background-color: $orange-900;
}

.irs--round .irs-line {
  height: 2px;
  background-color: $gray;
}

.irs--round .irs-handle {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background-color: $orange-900;
  border: none;
  top: 28px;
}

.extra-controls {
  display: flex;
  justify-content: space-between;
}

.js-input-from-label {
  display: flex;
  align-items: center;

}

.js-input-from-label:not(:last-child) {
  margin-right: 21px;
}

.js-input-from-input {
  border: 1px solid #ECECEC;
  border-radius: 3px;
  background-color: #FAEDED;
  font-size: 16px;
  width: 70px;
  height: 40px;
  text-align: center;
  transition: box-shadow 0.4s ease-in-out;

  &:focus {
    box-shadow: $box-shadow-border;

  }
}

.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single {
  display: none;
}

.irs--round .irs-min,
.irs--round .irs-max {
  display: none;
}

.js-input-from-label-text {
  font-size: 16px;
  color: #C2C2C2;
  margin-right: 5px;
}

.js-input-from-label-price {
  font-size: 16px;
  color: #C2C2C2;
  margin-left: 5px;
}