.display-none {
  @include mq("phone") {
    display: none;
  }
}

.catalog-product {
  &__hero {
    display: flex;
    justify-content: space-between;
  }

  &__burger-close {
    display: none;

    @include mq("phone") {
      position: absolute;
      z-index: 2;
      display: block;
      width: 44px;
      height: 44px;
      border-radius: 3px;
      background-color: $white2;
      top: 24px;
      right: 20px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 12px;
      width: 18px;
      height: 1px;
      background-color: $title-color;
    }

    &::before {
      transform: rotate(45deg);
      top: 50%;
    }

    &::after {
      transform: rotate(-45deg);
      top: 50%;
    }
  }

  &__burger-line {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 2;
  }

  &__box {
    margin-right: 30px;
    transition: transform 5s;

    @include mq("tablet") {
      display: none;
      transform: translateX(-200%);

    }

    &--active {
      display: block;
      position: absolute;
      z-index: 999;
      width: 80%;
      height: 100vh;
      top: 0;
      left: 0;
      padding-top: 70px;
      background-color: $white;
      transform: translateX(0%);
    }
  }

  &__top {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;

    @include mq("tablet") {
      display: block;
      padding: 30px 0;
    }
  }

  &__menu {
    display: flex;
  }

  &__burger {

    @include mq("tablet") {
      display: block;
      width: 47px;
      height: 47px;
      margin-right: 10px;
      background-position: center;
      background-color: $white2;
      background-repeat: no-repeat;
      background-image: url('../images/ico/catalogmenu.svg');
    }
  }

  &__title {
    @include mq("tablet") {
      margin-bottom: 20px;
    }
  }

  &__filter-soft {
    font-size: 14px;
    padding: 15px;
  }

  &__label {
    display: flex;
    align-items: center;
    margin-right: 12px;
  }

  &__category {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 270px;
    width: 100%;
    background-color: $white;
    padding: 15px 15px 25px 15px;
    border-radius: 5px;
    margin-bottom: 30px;
    border: 1px solid $silver-200;

    &::after {
      content: "";
      position: absolute;
      top: 63px;
      left: 0;
      width: 100%;
      height: 1px;
      z-index: 2;
      border-bottom: 1px solid rgba(194, 194, 194, .2);
    }
  }

  &__item {
    font-size: 18px;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;


    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__item-link {
    text-decoration: none;
  }



  &__caption {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 400;
  }

  &__food {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding-bottom: 60px;

    @include mq("desktop") {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mq("tablet-2") {
      grid-template-columns: repeat(2, 1fr);

    }
  }

  &__select {
    display: flex;
  }

  &__checkbox-text {
    margin-left: 14px;
  }

  &__checkbox-text {
    transition: color 0.4s ease-in-out;

    &:hover {
      color: $orange-900;
    }

    &:focus {
      color: #31352B;
    }
  }

  &__checkbox {
    transition: border 0.4s,
      color 0.4s ease-in-out;

    &:hover {
      border: 1px solid $orange-900;
      border-radius: 3px;
    }

    &:focus {
      color: $orange-900;
    }
  }

  &__checkbox {
    position: relative;
    appearance: none;
    width: 24px;
    height: 24px;
    background-color: $white2;
    border-radius: 5px;
    box-shadow: 1px solid $silver-200;



    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 12px;
      height: 11px;
      transform: translate(50%, 50%);

    }
  }

  &__checkbox:checked::before {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/ico/checkbox.svg");

  }

  &__swiper-next {
    transition: background-color 0.4s,
      filter 0.4s ease-in-out;

    svg {
      filter: $gray-flter;
    }

    &:hover {
      background-color: $orange-900;

      svg {
        filter: $white-arrow;
      }
    }
  }

  &__swiper-left {
    svg {
      transform: rotate(180deg);
    }
  }

  &__swiper-arrow {
    padding: 15px;
    background-color: $orange-400;
    border-radius: 3px;
    font-size: 18px;
    width: 48px;
    height: 48px;

    svg {
      height: 18px;
      width: 11px;
    }

    &:active {
      svg {
        filter: $gray-flter;
      }
    }
  }



  &__swiper-btn {
    background-color: $orange-400;
    border-radius: 3px;
    font-size: 18px;
    width: 48px;
    height: 48px;
    transition: color 0.4s,
      background-color 0.4s,
      box-shadow 0.4s;

    &--active {
      box-shadow: 0 0 0 1px $title-color;
    }

    &:hover {
      background-color: $orange-900;
      color: $white;
    }

    &:focus {
      background-color: $white2;
      box-shadow: 0 0 0 2px $orange-900;
      color: $title-color;
    }

    &:active {
      background-color: $white2;
      box-shadow: 0 -1px 4px 2px rgba(0, 0, 0, 0.15) inset;
    }
  }

  &__swiper-item {
    padding: 0 7px;
  }

  &__swiper {
    display: flex;
    justify-content: center;
  }

  &__filter-sort {
    margin-right: 15px;
  }

  .jq-selectbox {
    & li {
      padding: 6px 0;
    }

    &__select-text {
      @extend %rubik;
      font-weight: 400;
      width: 100%;
    }

    &__trigger-arrow {
      position: absolute;
      top: 16px;
      right: 12px;
      width: 10px;
      height: 11px;
      border: none;
      transform: rotate(90deg);
      background-repeat: no-repeat;
      background-image: url("../images/sprite.svg#arrowmenu");


    }

    &__dropdown ul {
      font-size: 14px;
      color: $default-color;
      text-align: center;
      padding-top: 5px;

      background-color: $white;
    }

    &__dropdown {
      width: 100%;
    }

    &__select {
      @extend %rubik;
      box-shadow: none;
      height: 47px;
      border: 1px solid $gray;
      padding: 15px 41px 15px 15px;
      color: $default-color;
      font-size: 14px;
      text-shadow: none;
      background: $white;
      border-radius: 3px;
      transition: border-color 0.4s, color 0.4s ease-in-out;

      &:hover {
        border-radius: 3px;
        border-color: $orange-900;
        background: $white;
        color: $orange-900;

        .jq-selectbox__trigger-arrow {
          filter: invert(55%) sepia(13%) saturate(5299%) hue-rotate(333deg) brightness(97%) contrast(110%);
        }
      }

      &:focus {
        color: $default-color;
        background: $white;
        border-color: $orange-900;
      }

      &:active {
        border: 1px solid $gray;
      }
    }

    &__trigger {
      border-left: none;
    }
  }
}

.range-slider {
  position: relative;
  height: 80px;
}


.irs--round .irs-bar {
  height: 2px;
  background-color: $orange-900;
}

.irs--round .irs-line {
  height: 2px;
  background-color: $gray;
}

.irs--round .irs-handle {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background-color: $orange-900;
  border: none;
  top: 28px;
}

.extra-controls {
  display: flex;
  justify-content: space-between;
}

.js-input-from-label {
  display: flex;
  align-items: center;
}

.js-input-from-label:not(:last-child) {
  margin-right: 21px;
}

.js-input-from-input {
  border: 1px solid $silver-200;
  border-radius: 3px;
  background-color: $white2;
  font-size: 16px;
  width: 70px;
  height: 40px;
  text-align: center;
  transition: box-shadow 0.4s ease-in-out;

  &:focus {
    box-shadow: $box-shadow-border;
  }
}

.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single {
  display: none;
}

.irs--round .irs-min,
.irs--round .irs-max {
  display: none;
}

.js-input-from-label-text {
  font-size: 16px;
  color: $gray;
  margin-right: 5px;
}

.js-input-from-label-price {
  font-size: 16px;
  color: $gray;
  margin-left: 5px;
}