.discounts {
  &__item {
    max-width: 370px;
    width: 100%;
    padding: 10px 0;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__container {
    margin: 0 auto;

    @include mq("tablet") {
      max-width: 370px;
    }
  }

  &__pagination {
    text-align: center;
  }

  &__list {
    flex-wrap: wrap;
    justify-content: space-around;

    @include mq("tablet") {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
    }
  }

  &__item:not(:last-child) {
    margin-right: 30px;

    @include mq("tablet") {
      margin-right: 0;
    }
  }

}