.discounts {
  &__item {
    max-width: 370px;
    width: 100%;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item:not(:last-child) {
    margin-right: 30px;

    @include mq("tablet") {
      margin-right: 0;
    }
  }

  &__item {
    max-width: 370px;
  }
}