body {
  background-color: $silver-100;
  font-size: 20px;
  font-weight: 400;
  color: var(--default-color);
  @extend %rubik;
  line-height: 1.3;
  min-height: 100vh;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: var(--container-width);
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-bottom: clamp(2.5rem, 0.682rem + 9.09vw, 7.5rem);
}

.button-accent {
  background-color: $orange-900;
  padding: 12px 32px;
  color: $white;
  border-radius: 6px;
  font-size: 18px;
  letter-spacing: 0.54px;
  border-radius: 5px;
  transition: box-shadow 0.4s,
    background-color 0.4s ease-in-out;

  @include mq("tablet-2") {
    padding: 8px 24px;
    font-size: 14px;
  }

  &:hover {
    box-shadow: $box-shadow-orange;
    background-color: $white;
    color: $orange-900;
  }

  &:focus {
    box-shadow: $box-shadow-orange;
    background-color: $background-color-btn;
    color: $orange-900;
  }

  &:active {
    background-color: $background-color-btn;
    color: $orange-900;
    box-shadow: none;
  }
}

.button-secondary {
  color: $title-color;
  text-decoration-line: underline;
  border-radius: 5px;
  transition: color 0.4s,
    text-shadow 0.4s,
    box-shadow 0.4s else-in-out;

  &:hover {
    color: $orange-900;
    text-decoration-line: none;
  }

  &:focus {
    box-shadow: $box-shadow-orange;
    text-decoration-line: none;
  }

  &:active {
    text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
    text-decoration-line: none;
    box-shadow: none
  }
}

.title {
  @extend %rubik;
  font-size: 36px;
  line-height: 1.3;

  @include mq("tablet") {
    font-size: 24px;
  }
}