@import "reset";
@import "fonts";
@import "vars";
@import "libs";
@import "mixin";
@import "global";

@import './components/parts/_header';
@import './components/index/_hero-content';
@import './components/index/_product-hero';
@import './components/index/_info-delivery';
@import './components/index/_restaurants';
@import './components/index/_reviews';
@import './components/parts/_connect';
@import './components/parts/_footer';
@import './components/parts/_footer-bottom';
@import './components/parts/_header-bottom-menu';
@import './components/page-catalog/_catalog-product';
@import './components/page-catalog/_discounts';
@import './components/page-product/_product-info';
@import './components/page-product/_product-other';
@import './components/page-product/_product-reviews';