.connect {
  @include mq ("tablet") {
    padding-bottom: 0
  }

  &__box {
    @include flex-space-betwen;



    @include mq ("phone") {
      display: block;
    }
  }

  &__image {
    max-width: 570px;
    width: 100%;
    height: 380px;
    @include image-bg;

    @include mq ("desktop") {
      z-index: -1;
      position: absolute;
      right: 0;
      opacity: 0.4;
      width: 500px;
      height: 340px;
    }

    @include mq ("tablet") {
      display: none;
    }
  }

  &__info {
    max-width: 538px;
    margin-right: 30px;

    @include mq ("desktop") {
      margin-right: 0;
      margin-bottom: 50px;
    }
  }

  &__title {
    margin-bottom: 45px;

    @include mq ("tablet") {
      margin-bottom: 15px;
    }
  }

  &__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__photo {
    max-width: 570px;
    object-fit: cover;
  }
}