.footer {
  &__logo {
    margin-bottom: 30px;
  }

  &__wrap {
    max-width: 200px;
    margin-right: 70px;

    @include mq("desktop") {
      margin-right: 35px;
    }

    @include mq ("tablet-2") {
      order: 1;
    }

    @include mq ("phone") {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  &__top {
    padding-bottom: clamp(1.875rem, 1.193rem + 3.41vw, 3.75rem);
    display: flex;
    align-items: center;

    @include mq ("tablet-2") {

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    @include mq ("phone") {
      flex-direction: column;
      align-content: flex-start;
      max-width: 768px;
      align-items: flex-start;
    }
  }


  &__items {
    display: grid;
    grid-template-columns: auto auto auto;

    grid-gap: 20px 74px;
    margin-right: 70px;

    @include mq("desktop") {
      grid-gap: 20px 40px;
      margin-right: 40px;
    }

    @include mq ("tablet-2") {
      order: 2;
      margin-top: 45px;
    }

    @include mq ("tablet") {
      grid-template-columns: repeat(1, 1fr);
      margin-right: 0;
      width: 100%;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item-link {
    font-size: 18px;
    text-decoration-line: none;
    @include line-clamp(1);
    transition: color 0.4s linear;
    width: 100%;



    &:hover {
      color: $orange-900;
    }
  }
}

.form-subscribe {
  &__input {
    max-width: 200px;
    width: 100%;
    padding: 13px 15px;
    color: $gray;
    border-radius: 5px;
    border: 1px solid $gray;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 12px;
    transition: color 0.4s, box-shadow 0.4s ease-in-out;

    &:hover::placeholder {
      color: $title-color;
    }

    &:focus {
      border-color: transparent;
      box-shadow: $box-shadow-orange;
    }
  }

  &__btn {
    display: flex;
    padding: 13px 33px;
    font-size: 14px;
    font-weight: 500;
    max-width: 200px;
    width: 100%;

    svg {
      filter: var(--w);
      margin-right: 15px;
      width: 16px;
      height: 16px;
    }

    &:hover {
      background: $white;

      svg {
        filter: $orange-btn;
      }
    }

    &:focus {
      background-color: $orange-400;

      svg {
        filter: $orange-btn;
      }
    }

    &:active {
      box-shadow: transparent;

      svg {
        filter: $orange-btn;
      }
    }
  }
}

.social {
  @include mq ("tablet-2") {
    order: 1;
    margin-right: 30px;
  }

  &__list {
    margin-bottom: 15px;
  }

  &__link {
    font-size: 16px;
    line-height: 2;
    text-decoration-line: none;
    @include line-clamp(1);
    display: block;
    width: 100%;
  }

  &__img {
    fill: none;
    stroke: #363853;
    stroke-width: 1.5;
    width: 20px;
    height: 22px;
    margin-right: 7px;
  }

  &__item:not(:last-child) {
    margin-bottom: 15px;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__elem {
    &:not(:last-child) {
      margin-right: 13px;
    }
  }

  &__items {
    display: flex;

  }

  &__elem-link {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: $silver-200;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: filter 0.4s,
      background-color 0.4s, box-shadow 0.4s ease-in-out;

    svg {
      width: 19px;
      height: 19px;
      filter: $dark-filter;
      display: flex;
    }

    &:hover {
      background-color: $orange-900;

      svg {
        filter: $white-filter;
      }
    }

    &:focus {
      background-color: $orange-400;
      box-shadow: $box-shadow-orange;

      svg {
        filter: $dark-filter;
      }
    }

    &:active {
      background-color: $orange-400;

      svg {
        filter: $orange-btn;
      }
    }
  }
}