.header-bottom {
  padding-top: 164px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 65px;
    background-color: rgba(255, 122, 80, 0.10);
  }

  &__menu {
    position: absolute;
    display: flex;
    height: 65px;
    align-items: center;
  }

  svg {
    width: 7px;
    height: 10px;
    margin: 0 6px;
  }

  &__link {
    font-size: 14px;
  }
}