.header {
  padding-top: 165px;


  @include mq("tablet-2") {
    padding-top: 100px;
  }

  &__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    backdrop-filter: blur(8px);
    transition: padding 0.4s;
  }
}

.header-menu.menu-header {
  padding: 30px 0;
}

.logo {
  display: block;
  border-radius: 5px;
  transition: opacity 0.4s,
    box-shadow 0.4s ease-in-out;

  @include mq("desktop") {}

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    box-shadow: $box-shadow-btn;
  }

  &:active {
    opacity: 0.5;
  }

  &__img {
    width: 200px;
    height: 39px;
  }
}

.lock {
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;
  }
}

.burger {
  top: 10px;
  width: 30px;
  height: 20px;
  position: relative;


  z-index: 5;
  border: none;
  background-color: transparent;
  display: none;

  @include mq("tablet-2") {
    display: block;
    margin-left: 20px;
  }

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: $title-color;
    transition: transform 0.3s ease-in-out;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $title-color;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: calc(100% - 2px);
  }
}

.menu {
  display: none;
  position: relative;

  &__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
  }

  &__list {
    margin-bottom: 40px;

    &::before {
      @include pseudo;
      top: 245px;
      left: -200px;
      width: calc(100% + 200px);
      height: 1px;
      z-index: 2;
      border-top: 1px solid rgba(194, 194, 194, 0.2);
    }

    &::after {
      @include pseudo;
      top: 89px;
      left: -200px;
      width: calc(100% + 200px);
      height: 1px;
      z-index: 2;
      border-top: 1px solid rgba(194, 194, 194, 0.2);
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__link {
    font-size: 18px;
    text-decoration: none;
    display: block;
    width: 100%;
  }

  @include mq("tablet-2") {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: $white;
    display: block;
    transform: translateX(-200%);
    transition: all 0.4s;
    width: 80%;
    height: 100vh;

    &.menu--active {
      @include mq("tablet-2") {
        display: block;
        transform: translateX(0);
        font-size: 30px;
        padding: 25px 25px 0 15px;
      }
    }
  }

  .burger-close {
    position: relative;
    z-index: 2;
    width: 44px;
    height: 44px;

    &__line {
      transform: translateY(-50%);
      width: 100%;
      z-index: 2;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      margin: 0 auto;
      width: 70%;
      height: 1px;
      background-color: $title-color;
    }

    &::before {
      transform: rotate(45deg);
      top: 50%;
    }

    &::after {
      transform: rotate(-45deg);
      top: 50%;
    }
  }

  .active {
    color: $orange-900;
  }
}

.menu-header {
  padding: 60px 0;
  transition: padding 0.4s;
  @include flex-space-betwen;

  @include mq("tablet-2") {
    padding: 30px 0;
  }

  @include mq("tablet") {
    padding: 25px 0;
  }

  .logo__img {
    @include mq("tablet") {
      width: 115px;
      height: 23px;
    }
  }

  .active {
    color: $orange-900;
  }

  &__list {
    display: flex;
    align-items: center;
    margin-right: 53px;

    @include mq("tablet-2") {
      display: none;
    }
  }

  &__item:not(:last-child) {
    margin-right: 45px;
  }

  &__link {
    font-size: 18px;
    text-decoration: none;
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
  }
}

.nav {
  display: flex;

  &__items:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    position: relative;
    width: 44px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 2px;
    transition: background-color 0.4s,
      color 0.4s,
      box-shadow 0.4s ease-in-out;

    &:hover {
      background-color: $orange-900;

      svg {
        filter: $white-filter;
      }

      span {
        background-color: $white;
        color: $orange-900;
      }
    }

    &:focus {
      background-color: $orange-400;
      box-shadow: $box-shadow-orange;

      svg {
        filter: $dark-filter;
      }
    }

    &:active {
      background-color: $orange-400;

      svg {
        filter: $dark-filter;
      }

      span {
        background-color: $orange-900;
        color: $white;
      }
    }
  }

  &__link-img {
    fill: none;
    stroke: #363853;
    stroke-width: 1.5;
    width: 18px;
    height: 18px;
  }

  &__link-num {
    position: absolute;
    padding: 0px 4px 0px 4px;
    border-radius: 50%;
    background-color: $orange-900;
    color: $white;
    font-size: 10px;
    line-height: 15px;
    top: 9px;
    right: 4px;
  }
}