.cheeseburger-tabs {
  padding-top: 30px;

  &__box {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    max-width: 690px;
    width: 100%;
  }

  &__top {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 30px;
    padding: 5px 0;
  }

  &__text:not(:last-child) {
    margin-bottom: 25px;
  }

  &__top-item {
    font-size: 24px;
    color: $title-color;

    &:not(:last-child) {
      margin-right: 60px;
    }

    &--active {
      color: $orange-900;
    }
  }

  &__content-item {
    display: none;

    &.cheeseburger-tabs__content-item--active {
      display: block;
    }
  }

  &__content-description {
    line-height: 1.5;

    p {
      font-weight: 500;
    }

    span {
      font-weight: 400;
    }
  }

  &__content-description:not(:last-child) {
    margin-bottom: 10px;
  }
}

.comments {
  &__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 25px;

  }

  &__content-border {
    border-bottom: 1px solid $silver-border;
  }

  &__content-wrap {
    display: flex;
  }

  &__content-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 26px;
  }

  &__content-img {
    width: 70px;
    height: 70px;
    margin-right: 25px;
  }

  &__content-name {
    margin-bottom: 10px;
  }

  &__connect-text {
    position: relative;

  }

  &__subtitle {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 24px;
  }
}

.comments-form {
  &__label {
    display: flex;
    align-items: center;
  }

  &__label-title {
    margin-right: 5px;
  }

  &__input {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;

    @include mq("tablet") {
      flex-direction: column;
    }
  }

  &__input-label {
    display: flex;
    flex-direction: column;
  }

  &__input-label:first-child {
    margin-bottom: 10px;
  }

  &__textarea {
    width: 400px;
    min-height: 165px;
    border: 1px solid $gray;
    border-radius: 5px;
    padding: 16px 18px;
    font-size: 16px;
    margin-top: 10px;
    color: $silver-2;
    resize: vertical;
    max-height: 300px;

    @include mq("phone") {
      width: 345px;
    }
  }

  &__input-texarea {
    margin-right: 30px;
  }

  &__textbox {
    display: flex;
    flex-direction: column;
  }

  &__text {
    margin-top: 10px;
    max-width: 260px;
    height: 57px;
    padding: 18px;
    border: 1px solid $gray;
    border-radius: 5px;
    font-size: 16px;
    color: $silver-2;
  }

  &__checked {
    display: flex;
    flex-direction: column;
  }

  &__checked-box {
    display: flex;
    margin-bottom: 30px;
  }

  &__checked-btn {
    width: 208px;
    padding: 12px 0;
  }

  &__checkbox-label {
    max-width: 654px;
    height: 46px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 1.5;

    @include mq("phone") {
      font-size: 18px;
    }
  }

  &__checkbox {
    position: relative;
    padding: 10px;
    margin-right: 10px;
    appearance: none;
    width: 24px;
    height: 24px;
    background-color: $white;
    border-radius: 3px;
    box-shadow: 1px solid $silver-200;
    border: 1px solid $silver-2;

    &::before {
      top: 1px;
      left: 1px;
      @include pseudo;
      width: 12px;
      height: 11px;
      transform: translate(30%, 40%);
    }

    &:checked::before {
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../images/ico/checkbox.svg");
    }
  }


  &__checkbox-text {
    margin-left: 10px;
  }

  &__checkbox-span {
    margin-left: 45px;
  }
}