.reviews-tabs {
  padding-top: 30px;

  &__box {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    max-width: 690px;
    width: 100%;
  }

  &__top {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 30px;
    padding: 4px 0;
  }

  &__text {
    line-height: 1.5;


    @include mq("phone") {
      font-size: 16px;
      max-width: 342px;
    }
  }

  &__text:not(:last-child) {
    margin-bottom: 20px;
  }

  &__top-item {
    font-size: 24px;
    color: $title-color;

    @include mq("phone") {
      font-size: 20px;
    }

    &:not(:last-child) {
      margin-right: 60px;

      // @include mq("phone") {
      //   margin-right: 30px;
      // }
    }

    &--active {
      color: $orange-900;
    }
  }

  &__content-item {
    display: none;

    &.reviews-tabs__content-item--active {
      display: block;
    }
  }

  &__content-description {
    line-height: 1.5;

    p {
      font-weight: 500;
    }

    span {
      font-weight: 400;
    }

    @include mq("phone") {
      font-size: 16px;
    }
  }

  &__content-description:not(:last-child) {
    margin-bottom: 15px;
  }
}

.comments {
  &__content-box {
    @include mq("phone") {}
  }

  &__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.72px;

    @include mq("phone") {
      font-size: 20px;
      letter-spacing: 0.6px;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 38px;
    margin-bottom: 20px;

    // @include mq("phone") {
    //   font-size: 16px;
    //   margin-bottom: 10px;
    // }
  }

  &__content-star {
    margin-bottom: 10px;

  }

  &__content-border {
    border-bottom: 1px solid $silver-border;
    padding-bottom: 18px;
    // @include mq("phone") {
    //   margin-top: 10px;
    // }
  }

  &__content-elem {
    margin-top: 31px;

    @include mq("phone") {
      margin-top: 24px;
    }

  }

  &__content-wrap {
    display: flex;
  }

  &__content-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 13px;

    @include mq("phone") {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 8px;
    }
  }

  &__content-img {
    width: 70px;
    height: 70px;
    margin-right: 25px;

    // @include mq("phone") {
    //   margin-bottom: 15px;
    // }
  }

  &__content-data {
    font-size: 18px;
    letter-spacing: 0.54px;
  }

  &__content-text {
    font-size: 20px;
    line-height: 1.5;

    @include mq("phone") {
      font-size: 16px;
    }
  }

  &__content-name {
    margin-bottom: 7px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
  }

  .jq-ry-container {
    padding: 0;

  }

  &__connect-text {
    position: relative;
  }

  &__subtitle {
    margin-top: 64px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.72px;

    @include mq("phone") {
      font-size: 20px;
      margin-top: 47px;
      letter-spacing: 0.6px;
    }
  }
}

.comments-form {
  &__label {
    display: flex;
    align-items: center;
  }

  &__label-title {
    margin-right: 5px;
  }

  &__input {
    display: flex;
    margin-top: 20px;
    margin-bottom: 22px;

    @include mq("tablet") {
      flex-direction: column;
    }

    // @include mq("phone") {
    //   margin-bottom: 13px;
    // }
  }

  &__input-label {
    display: flex;
    flex-direction: column;

  }

  &__input-label:first-child {
    margin-bottom: 10px;
  }

  &__textarea {
    width: 400px;
    min-height: 165px;
    border: 1px solid $gray;
    border-radius: 5px;
    padding: 16px 18px;
    font-size: 16px;
    margin-top: 10px;
    color: $silver-2;
    resize: vertical;
    max-height: 300px;

    @include mq("phone") {
      width: 345px;
      margin-top: 14px;
    }
  }

  &__input-texarea {
    margin-right: 30px;
  }

  &__textbox {
    display: flex;
    flex-direction: column;

    @include mq("phone") {
      margin-top: 13px;
    }
  }

  &__text {
    margin-top: 10px;
    width: 260px;
    height: 57px;
    padding: 18px;
    border: 1px solid $gray;
    border-radius: 5px;
    font-size: 16px;
    color: $silver-2;

    @include mq("phone") {
      margin-bottom: 8px;
      width: 346px;
    }
  }

  &__checked {
    display: flex;
    flex-direction: column;
  }

  &__checked-box {
    display: flex;

  }

  &__checked-btn {
    width: 208px;
    padding: 12px 0;
    font-size: 18px;
  }

  &__checkbox-label {
    max-width: 654px;
    height: 46px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.3;

    @include mq("phone") {
      margin-bottom: 56px;
    }
  }

  &__checkbox {
    position: relative;
    padding: 10px;
    margin-right: 10px;
    appearance: none;
    width: 24px;
    height: 24px;
    background-color: $white;
    border-radius: 3px;
    box-shadow: 1px solid $silver-200;
    border: 1px solid $silver-2;

    &::before {
      top: 1px;
      left: 1px;
      @include pseudo;
      width: 12px;
      height: 11px;
      transform: translate(30%, 40%);
    }

    &:checked::before {
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../images/ico/checkbox.svg");
    }
  }


  &__checkbox-text {
    margin-left: 10px;
  }

  &__checkbox-span {
    margin-left: 45px;
  }
}