<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__wrap">
        <a class="logo" href="#">
          <img class="logo__img footer__logo" src="images/logo.svg" alt="логотип" width="200" height="39">
        </a>

        <form class="form-subscribe">
          <label class="sr-only">ввод почты</label>
          <input class="form-subscribe__input" type="email" placeholder="Ваш email" name="email" required>


          <button class="button-accent form-subscribe__btn" type="submit">
            <svg>
              <use xlink:href="images/sprite.svg#framebtn"></use>
            </svg>
            Подписаться
          </button>
        </form>
      </div>

      <ul class="footer__items">
        <li class="footer__item ">
          <a class="footer__item-link button-secondary" href="#">
            Как это работает
          </a>
        </li>
        <li class="footer__item ">
          <a class="footer__item-link button-secondary" href="#">
            Продукты
          </a>

        </li>
        <li class="footer__item ">
          <a class="footer__item-link button-secondary" href="#">
            Блюда
          </a>

        </li>
        <li class="footer__item ">
          <a class="footer__item-link button-secondary" href="#">
            Меню
          </a>

        </li>


        <li class="footer__item">
          <a class="footer__item-link button-secondary" href="#">
            О нас
          </a>

        <li class="footer__item ">
          <a class="footer__item-link button-secondary" href="#">
            Новости
          </a>

        </li>
        </li>
        <li class="footer__item ">
          <a class="footer__item-link button-secondary" href="#">
            Партнеры
          </a>

        </li>
        <li class="footer__item ">
          <a class="footer__item-link button-secondary" href="#">
            ЧаВо
          </a>

        </li>
        <li class="footer__item">
          <a class="footer__item-link button-secondary" href="#">
            Скачать приложение
          </a>
        </li>
        <li class="footer__item ">
          <a class="footer__item-link button-secondary" href="#">
            Блог
          </a>

        </li>
        <li class="footer__item ">
          <a class="footer__item-link button-secondary" href="#">
            Что нового?
          </a>

        </li>
        <li class="footer__item ">
          <a class="footer__item-link button-secondary" href="#">
            Карта сайта
          </a>

        </li>
      </ul>

      <div class="social">
        <ul class="social-adress__list">
          <li class="social-adress__item">
            <svg class="social-adress__img">
              <use xlink:href="images/sprite.svg#location"></use>
            </svg>
            <a class="social-adress__link button-secondary" href="#">
              ул. Т.Г.Шевченко, 1
            </a>
          </li>

          <li class="social-adress__item">
            <svg class="social-adress__img">
              <use xlink:href="images/sprite.svg#calling"></use>
            </svg>
            <a class="social-adress__link button-secondary" href="tel:+380501112233">
              380501112233
            </a>
          </li>

          <li class="social-adress__item">
            <svg class="social-adress__img">
              <use xlink:href="images/sprite.svg#message"></use>
            </svg>
            <a class="social-adress__link button-secondary" href="mailto:support@sfood.com">
              support@sfood.com
            </a>
          </li>
        </ul>

        <ul class="social-image__items">
          <li class="social-image__item">
            <a class="social-image__link" href="#" target="_blank" rel=”noreferrer”>
              <svg class="social-image__img">
                <use xlink:href="images/sprite.svg#facebook"></use>
              </svg>
              <span class="sr-only">
                посилання на фейсбук
              </span>
            </a>
          </li>

          <li class="social-image__item">
            <a class="social-image__link" href="#" target="_blank" rel=”noreferrer”>
              <svg class="social-image__img">
                <use xlink:href="images/sprite.svg#twitter"></use>
              </svg>
              <span class="sr-only">
                посилання на твиттер
              </span>
            </a>
          </li>

          <li class="social-image__item">
            <a class="social-image__link" href="#" target="_blank" rel=”noreferrer”>
              <svg class="social-image__img">
                <use xlink:href="images/sprite.svg#instagram"></use>
              </svg>
              <span class="sr-only">
                посилання на инстаграмм
              </span>
            </a>
          </li>
        </ul>
      </div>

    </div>

  </div>
</footer>