<header class="header">
  <div class="header__container">
    <div class="container">

      <div class="menu">
        <div class="menu__top">
          <a class="logo" href="index.html">
            <img class="logo__img" src="images/logo.svg" alt="логотип" width="200" height="39">
          </a>
          <button class="burger-close" type="button">
            <span class="sr-only">бургер меню сайта</span>
          </button>

        </div>
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link button-secondary active" href="index.html">
              Главная
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link button-secondary" href="catalog.html">
              Блюда
            </a>
          </li>
          <li class=" menu__item">
            <a class="menu__link button-secondary" href="#footer">
              Контакты
            </a>
          </li>
        </ul>

        <div class="social">
          <ul class="social__list">
            <li class="social__item">
              <svg class="social__img">
                <use xlink:href="images/sprite.svg#location"></use>
              </svg>
              <a class="social__link button-secondary" href="#">
                ул. Т.Г.Шевченко, 1
              </a>
            </li>

            <li class="social__item">
              <svg class="social__img">
                <use xlink:href="images/sprite.svg#calling"></use>
              </svg>
              <a class="social__link button-secondary" href="tel:+380501112233">
                380501112233
              </a>
            </li>

            <li class="social__item">
              <svg class="social__img">
                <use xlink:href="images/sprite.svg#message"></use>
              </svg>
              <a class="social__link button-secondary" href="mailto:support@sfood.com">
                support@sfood.com
              </a>
            </li>
          </ul>

          <ul class="social__items">
            <li class="social__elem">
              <a class="social__elem-link" href="#" target="_blank" rel=”noreferrer”>
                <svg>
                  <use xlink:href="images/sprite.svg#facebook"></use>
                </svg>
                <span class="sr-only">
                  посилання на фейсбук
                </span>
              </a>
            </li>

            <li class="social__elem">
              <a class="social__elem-link" href="#" target="_blank" rel=”noreferrer”>
                <svg>
                  <use xlink:href="images/sprite.svg#twitter"></use>
                </svg>
                <span class="sr-only">
                  посилання на твиттер
                </span>
              </a>
            </li>

            <li class="social__elem">
              <a class="social__elem-link" href="#" target="_blank" rel=”noreferrer”>
                <svg>
                  <use xlink:href="images/sprite.svg#instagram"></use>
                </svg>
                <span class="sr-only">
                  посилання на инстаграмм
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <nav class="menu-header" id="navbar">
        <a class="logo" href="index.html">
          <img class="logo__img" src="images/logo.svg" alt="логотип" width="200" height="39">
        </a>
        <div class="menu-header__navigation">
          <ul class="menu-header__list">
            <li class="menu-header__item">
              <a class="menu-header__link button-secondary @activeclass" href="index.html">
                Главная
              </a>
            </li>
            <li class="menu-header__item">
              <a class="menu-header__link button-secondary @activeclasdishess" href="catalog.html">
                Блюда
              </a>
            </li>
            <li class=" menu-header__item">
              <a class="menu-header__link button-secondary" href="#footer">
                Контакты
              </a>
            </li>
          </ul>

          <ul class="nav">
            <li class="nav__items">
              <button class="nav__link" type="button">
                <svg class="nav__link-img">
                  <use xlink:href="images/sprite.svg#search"></use>
                </svg>
                <span class="sr-only">кнопка поиска</span>
              </button>
            </li>
            <li class="nav__items">
              <button class="nav__link" type="button">
                <svg class="nav__link-img">
                  <use xlink:href="images/sprite.svg#carticon"></use>
                </svg>
                <span class="sr-only">кнопка товаров в корзине</span>
                <span class="nav__link-num">
                  4
                </span>
              </button>
            </li>
          </ul>
          <!-- <button class="burger" type="button">
            <span class="burger__line"></span>
            <span class="sr-only">Открыть меню</span>
          </button> -->
          <button class="burger" type="button">
            <span class="burger__line"></span>
            <span class="sr-only">Открыть меню</span>
          </button>
        </div>
      </nav>
    </div>
  </div>
</header>