<div class="header-bottom ">

  <div class="container">
    <ul class="header-bottom__menu">
      <li class="header-bottom__item">
        <a class="header-bottom__link button-secondary " href="index.html">
          Главная
        </a>
      </li>
      <li class="header-bottom__item">
        <svg>
          <use xlink:href="images/sprite.svg#arrowmenu"></use>
        </svg>
      </li>
      <li class="header-bottom__item">
        <a class="header-bottom__link " href="#">
          Каталог товаров
        </a>
      </li>
      <li class="header-bottom__item">

      </li>
      <li class="header-bottom__item">

      </li>
    </ul>

  </div>
</div>