.hero-content {
  &__box {
    @include flex-space-betwen;
    padding-top: clamp(6.25rem, 4.886rem + 6.82vw, 10rem);

    @include mq("phone") {
      align-items: flex-start;
    }
  }

  &__inner {
    margin-right: 50px;

    @include mq("desktop") {
      margin-right: 0;
      margin-bottom: 50px;
    }

    @include mq("tablet") {
      z-index: 1;
      max-width: clamp(21.563rem, 16.676rem + 24.43vw, 35rem);
      max-height: 300px;
      width: 100%;
      padding-bottom: 40px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 66px;
    text-transform: uppercase;
    line-height: 1.3;
    font-weight: 500;
    color: $title-color;

    @include mq("tablet-2") {
      font-size: 50px;
    }

    @include mq("tablet") {
      font-size: 40px;
    }
  }

  &__subtitle {
    color: $orange-900;
    display: block;
  }

  &__text {
    @include line-clamp(3);
    font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
    line-height: 1.5;
    margin-bottom: 20px;
    max-width: 450px;
  }

  &__image {
    @include image-bg;
    max-width: 560px;
    height: 660px;
    width: 100%;
    object-fit: cover;

    @include mq("desktop") {
      max-width: 475px;
      height: 550px;
    }

    @include mq("tablet-2") {
      max-width: 415px;
      height: 490px;
    }

    @include mq("tablet") {
      z-index: 1;
      position: absolute;
      right: 0;
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0.4;
      max-width: 250px;
      height: 300px;
      width: 100%;
    }

    @include mq("phone") {
      max-width: 250px;
      height: 280px;
      right: 0;
    }
  }

  &__button a:not(:last-child) {
    margin-right: 34px;
  }
}