.product-hero {
  &__title {
    margin-bottom: 60px;
    text-align: center;

    @include mq("tablet") {
      margin-bottom: 30px;
    }
  }

  &__button {
    @include flex;
    margin: 0 auto;
    border-radius: 5px;
    transition: color 0.4s,
      box-shadow 0.4s,
      text-shadow 0.4s;

    @include mq("phone") {
      font-size: 20px;
    }
  }
}

.popular-categories {
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
  margin-bottom: 45px;

  @include mq("desktop") {
    padding: 20px 0;
    margin-bottom: 30px;
  }

  @include mq("phone") {
    padding: 0;
    margin-bottom: 23px;
  }

  &__btn {
    background-color: $white;
    display: flex;
    align-items: center;
    padding: 13px 32px;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0 0 0 1px $silver-200;
    transition: background-color 0.4s,
      filter 0.4s,
      box-shadow 0.4s ease-in-out;

    @include mq("tablet") {
      padding: 12px 20px;
      font-size: 18px;
    }

    @include mq("phone") {
      font-size: 14px;
      padding: 12px 14px;
    }

    &.mixitup-control-active {
      color: $white;
      background-color: $orange-900;

      svg {
        filter: $white-filter;
      }
    }

    &:hover {
      background-color: rgba(255, 122, 80, 0.1);
      box-shadow: $box-shadow-orange;
      color: $orange-900;

      svg {
        filter: $orange-btn;
      }
    }

    &:focus {
      box-shadow: $box-shadow-orange;
    }

    &:active {
      box-shadow: 0 -5px 12px 0 rgba(255, 104, 56, 0.2) inset;
    }
  }

  &__btn-img {
    margin-right: 10px;
    width: 44px;
    height: 44px;

    @include mq("desktop") {
      width: 20px;
      height: 20px;
    }

    &:hover {
      filter: $orange-btn;
    }
  }

  &__item {
    padding: 5px 2px;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }
}

.popular-category {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  margin-bottom: 60px;
  text-align: center;

  @include mq("desktop") {
    grid-template-columns: repeat(4, 1fr);
  }

  @include mq("tablet-2") {
    grid-template-columns: repeat(3, 1fr);
  }

  @include mq("tablet") {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px 5px;
  }

  @include mq("phone") {
    margin-bottom: 30px;
  }
}

.product-card {
  max-width: 100%;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  box-shadow: 0 0 0 1px $silver-200;
  padding: 20px 5px;
  transition: box-shadow 0.4s ease-in-out;
  height: 299px;



  &:hover {
    box-shadow: $box-shadow-border;
  }

  &__btn {
    padding: 7px 16px;
    font-size: 14px;
  }

  &__img {
    max-width: 140px;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 10px;
    @include line-clamp(2);
  }

  &__price {
    margin-top: auto;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 15px;
  }
}