.swiper-pagination-bullets {
  padding-top: 30px;

  span {
    margin: 0 8px;
    width: 15px;
    height: 15px;
    background-color: $gray;
    border: 2px solid transparent;
    box-shadow: 2px;
    transition: box-shadow 0.4s,
      background-color 0.4s,
      opacity 0.4s ease-in-out;

    &:hover {
      box-shadow: $box-shadow-orange;
      background-color: $orange-400;
      opacity: 0.5;
    }

    &:focus {
      box-shadow: $box-shadow-orange;
      background-color: $gray;
    }

    &:active {
      background-color: $orange-400;
    }
  }

  & .swiper-pagination-bullet-active {
    background-color: $orange-900;
    transition: border 0.4s,
      background-color 0.4s,
      opacity 0.4s ease-in-out;

    &:hover {
      box-shadow: $box-shadow-orange;
      background-color: $orange-400;
      opacity: 0.5;
    }
  }
}


.restaurants {
  @include mq ("tablet") {
    display: flex;
  }

  &__title {
    font-size: 36px;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 45px;
  }

  &__container {
    max-width: 1170px;

    @include mq ("tablet") {
      max-width: 370px;
      margin: 0 auto;
    }
  }

  &__pagination {
    text-align: center;
  }

}

.restaurants-category {
  padding: 5px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;

  @include mq ("desktop") {
    grid-gap: 15px;
  }

  @include mq ("tablet-2") {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }

  @include mq ("tablet") {
    padding: 0;
    grid-gap: 0;
    display: flex;
    height: 100%;
  }
}

.restaurants-cards {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.10);
  transition: box-shadow 0.4s ease-in-out;
  overflow: hidden;

  &:hover {
    box-shadow: 0 3px 15px 0 rgba(255, 104, 56, 0.50);
  }

  &__img {
    object-fit: cover;


    @include mq ("desktop") {
      width: 345px;
      height: 300px;
      width: 100%;
    }
  }

  &__box {
    padding: 15px 20px 20px 20px;
  }

  &__text {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 400;
    @include line-clamp(1);
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__time {
    font-size: 18px;
    font-weight: 300;
    opacity: 0.9;
    display: flex;
    justify-content: space-between;
    @include line-clamp(1);

    background-position: left;

    &::before {
      content: '';
      @include image-bg;
      width: 22px;
      height: 22px;
      background-image: url('../images/timer.svg');
      margin-right: 10px;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 4px 27px;
    transition:
      transform 0.4s,
      filter 0.4s ease-in-out;

    svg {
      width: 24px;
      height: 24px;
      fill: $orange-400;
    }

    &:hover {
      svg {
        filter: $orange-btn;
        transform: translateX(25px);
      }
    }

    &:focus {
      svg {
        filter: $orange-btn;
        transform: translateX(0);
      }
    }

    &:active {
      svg {
        filter: $orange-btn;
        transform: translateX(0);
      }
    }
  }
}