<section class="info section">
  <div class="container">
    <div class="info__box">
      <div class="info__photo" style="background-image: url('images/food_delivery.png');">
      </div>

      <div class="info-inner">
        <h2 class="title info-inner__title">
          Оставайтесь дома, <br>
          а мы позаботимся о еде
        </h2>
        <p class="info-inner__description">
          У нас есть вкусная еда и мы готовы доставить её к вам домой! Воспользуйтесь нашей доставкой прямо сейчас и
          получите
          скидку!
        </p>

        <ul class="info-inner__list">
          <li class="info-inner__item info-inner__item--stopwatch">Быстрая доставка за 15 минут
          </li>
          <li class="info-inner__item info-inner__item--delivery">Вежливые курьеры</li>
          <li class="info-inner__item info-inner__item--shop">Более 500 заведений</li>
        </ul>
        <a class="button-accent" href="#">Подробнее</a>
      </div>

    </div>
  </div>
</section>