<section class="discounts section">
  <div class="container">
    <h2 class="title catalog-product__title">
      Акции и скидки
    </h2>
    <div class="restaurants__container">
      <div class="restaurants-swiper slider-wrapper swiper">
        <ul class="discounts__list swiper-wrapper">
          <li class="discounts__item swiper-slide">
            <article class="restaurants-cards">
              <img class="restaurants-cards__img" src="images/restaurants/blaze_pizza.jpg" alt="фото пиццы" width="370"
                height="300">

              <div class="restaurants-cards__box">
                <h3 class="restaurants-cards__text">
                  Blaze Pizza
                </h3>
                <div class="restaurants-cards__inner">

                  <time class="restaurants-cards__time" datetime="2023-12-07T11:00">
                    11:00 - 22:00
                  </time>
                  <a class="restaurants-cards__btn button-accent" href="#">
                    <svg>
                      <use xlink:href="images/sprite.svg#arrow_right"></use>
                    </svg>
                  </a>
                </div>
              </div>

            </article>
          </li>
          <li class="discounts__item swiper-slide">
            <article class="restaurants-cards">
              <img class="restaurants-cards__img" src="images/restaurants/kfc.jpg" alt="KFC" width="370" height="300">
              <div class="restaurants-cards__box">
                <h3 class="restaurants-cards__text">
                  KFC
                </h3>
                <div class="restaurants-cards__inner">

                  <time class="restaurants-cards__time" datetime="2023-12-07T11:00">
                    06:00 - 23:30
                  </time>
                  <a class="restaurants-cards__btn button-accent" href="#">
                    <svg>
                      <use xlink:href="images/sprite.svg#arrow_right"></use>
                    </svg>
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="discounts__item swiper-slide">
            <article class="restaurants-cards">
              <img class="restaurants-cards__img" src="images/restaurants/star_burgers.jpg" alt="Star Burgers"
                width="370" height="300">
              <div class="restaurants-cards__box">
                <h3 class="restaurants-cards__text">
                  Star Burgers
                </h3>
                <div class="restaurants-cards__inner">

                  <time class="restaurants-cards__time" datetime="2023-12-07T11:00">
                    09:00 - 21:00
                  </time>
                  <a class="restaurants-cards__btn button-accent" href="#">
                    <svg>
                      <use xlink:href="images/sprite.svg#arrow_right"></use>
                    </svg>
                  </a>
                </div>
              </div>
            </article>
          </li>
        </ul>
        <div class="restaurants__pagination">
          <div class="swiper-pagination-3"></div>
        </div>
      </div>

    </div>

  </div>
</section>