<section class="discounts section">
  <div class="container">
    <h2 class="title discounts__title">
      Акции и скидки
    </h2>
    <div class="discounts__container">
      <div class="discounts-swiper slider-wrapper swiper">
        <ul class="discounts__list swiper-wrapper">

          <li class="discounts__item swiper-slide">
            <article class="restaurants-cards">
              <img class="restaurants-cards__img" src="images/restaurants/blaze_pizza.jpg" alt="фото пиццы" width="370"
                height="300">

              <div class="restaurants-cards__box">
                <h3 class="restaurants-cards__text">
                  Скидка 50% на вторую пиццу
                </h3>
              </div>
            </article>
          </li>

          <li class="discounts__item swiper-slide">
            <article class="restaurants-cards">
              <img class="restaurants-cards__img" src="images/restaurants/kfc.jpg" alt="KFC" width="370" height="300">
              <div class="restaurants-cards__box">
                <h3 class="restaurants-cards__text">
                  Картошечка из KFC даром при заказе бургера
                </h3>
              </div>
            </article>
          </li>

          <li class="discounts__item swiper-slide">
            <article class="restaurants-cards">
              <img class="restaurants-cards__img" src="images/restaurants/star_burgers.jpg" alt="Star Burgers"
                width="370" height="300">
              <div class="restaurants-cards__box">
                <h3 class="restaurants-cards__text">
                  Чёрные бургеры на чёрный день
                </h3>
              </div>
            </article>
          </li>
        </ul>
        <div class="discounts__pagination">
          <div class="swiper-pagination-3"></div>
        </div>
      </div>
    </div>

  </div>
</section>