<section class="cheeseburger">
  <div class="container">
    <div class="cheeseburger__container">
      <h1 class="sr-only">
        Страница с детальным описанием товара
      </h1>
      <div class="cheeseburger__slider swiper">
        <ul class="cheeseburger__image swiper-wrapper">
          <li class="cheeseburger__slider-item swiper-slide">
            <img class="cheeseburger__slider-img" src="images/burgers/1.jpg" alt="Чизбургер с листьями салата"
              width="400" height="400">
          </li>

          <li class="cheeseburger__slider-item swiper-slide">
            <img class="cheeseburger__slider-img" src="images/burgers/3.jpg" alt="Чизбургер с листьями салата"
              width="400" height="400">
          </li>

          <li class="cheeseburger__slider-item swiper-slide">
            <img class="cheeseburger__slider-img" src="images/burgers/4.jpg" alt="Чизбургер с листьями салата"
              width="400" height="400">
          </li>
        </ul>

        <div class="cheeseburger__button-swiper">

          <button class="cheeseburger__button-right">
            <svg>
              <use xlink:href="images/sprite.svg#vector"></use>
            </svg>
          </button>
          <button class="cheeseburger__button-left">
            <svg>
              <use xlink:href="images/sprite.svg#vector"></use>
            </svg>
          </button>

        </div>

      </div>
      <div class="cheeseburger__info">
        <h2 class="cheeseburger__title title">
          Чизбургер с листьями салата
        </h2>
        <div class="cheeseburger__awards">
          <img src="images/ico/star_full.svg" alt="">
          <img src="images/ico/star_full.svg" alt="">
          <img src="images/ico/star_full.svg" alt="">
          <img src="images/ico/star_full.svg" alt="">
          <img src="images/ico/starnull.svg" alt="">
        </div>
        <p class="cheeseburger__info-price">
          160 грн.
        </p>
        <ul class="cheeseburger__buy">
          <li>
            <button></button>

          </li>
          <li>
            <span>1</span>

          </li>
          <li>
            <button></button>

          </li>
          <li>
            <button class="button-accent">

              <svg class="cheeseburger__buy-btn">
                <use xlink:href="images/sprite.svg#carticon"></use>
              </svg>
              Добавить в корзину
            </button>

          </li>
        </ul>
        <h3 class="cheeseburger__info-text">
          Доставка и оплата
        </h3>
        <p class="cheeseburger__info-desc">
          Минимальная сумма заказа — 160 грн.
          Время доставки заказа — 80-140 мин.
          Оплата осуществляется только банковской картой.
          Окончательная сумма заказа формируется после сбора товаров.
        </p>
        <a href="#" class="button-secondary">
          Подробнее
        </a>
      </div>
    </div>
  </div>

</section>