<section class="cheeseburger">
  <div class="container">
    <div class="cheeseburger__container ">
      <h1 class="sr-only">
        Страница с детальным описанием товара
      </h1>
      <div class="cheeseburger__slider swiper carousel" id="myCarousel">
        <ul class="cheeseburger__image swiper-wrapper ">
          <li data-fancybox="gallery" class="cheeseburger__slider-item swiper-slide carousel__slide"
            data-src="images/burgers/1.jpg">
            <img class="cheeseburger__slider-img" src="images/burgers/1.jpg" alt="Чизбургер с листьями салата"
              width="400" height="400">
          </li>

          <li data-fancybox="gallery" class="cheeseburger__slider-item swiper-slide carousel__slide"
            data-src="images/burgers/3.jpg">
            <img class="cheeseburger__slider-img" src="images/burgers/3.jpg" alt="Чизбургер с листьями салата"
              width="400" height="400">
          </li>
          <li data-fancybox="gallery" class="cheeseburger__slider-item swiper-slide carousel__slide"
            data-src="images/burgers/4.jpg">
            <img class="cheeseburger__slider-img" src="images/burgers/4.jpg" alt="Чизбургер с листьями салата"
              width="400" height="400">
          </li>
        </ul>

        <div class="cheeseburger__button-swiper">

          <button class="cheeseburger__button-right">
            <svg>
              <use xlink:href="images/sprite.svg#vector"></use>
            </svg>
          </button>
          <button class="cheeseburger__button-left">
            <svg>
              <use xlink:href="images/sprite.svg#vector"></use>
            </svg>
          </button>

        </div>

      </div>
      <div class="cheeseburger__info">
        <h2 class="cheeseburger__title title">
          Чизбургер с листьями салата
        </h2>
        <div class="star cheeseburger__awards" data-rateyo-rating="4"></div>

        <p class="cheeseburger__info-price">
          160 грн.
        </p>

        <div class="cheeseburger__form">
          <form class="cheeseburger__buy" action="">
            <input class="cheeseburger__buy-num" type="number" value="1">
          </form>
          <button type="submit" class="cheeseburger__button button-accent">
            <svg class="cheeseburger__buy-btn">
              <use xlink:href="images/sprite.svg#carticon"></use>
            </svg>
            Добавить в корзину
          </button>
        </div>

        <h3 class="cheeseburger__info-text">
          Доставка и оплата
        </h3>
        <ul class="cheeseburger__info-desc">
          <li>
            Минимальная сумма заказа — 160 грн
          </li>
          <li>
            Время доставки заказа — 80-140 мин.
          </li>
          <li>
            Оплата осуществляется только банковской картой.
          </li>
          <li>
            Окончательная сумма заказа формируется после сбора товаров.
          </li>

        </ul>
        <a href="#" class="button-secondary">
          Подробнее
        </a>
      </div>
    </div>
  </div>

</section>