<section class="exclusive-products section">

  <div class="container">
    <div class="exclusive-products__wrap">

      <h2 class="exclusive-products__title title">
        Вас может заинтересовать
      </h2>
      <div class="exclusive-products__swiper swiper">

        <ul class="exclusive-products__box swiper-wrapper">
          <li class="exclusive-products__item swiper-slide">
            <article class="product-card">
              <a href="cheeseburger.html">
                <img class="product-card__img" src="images/burgers/1.jpg" alt="Чизбургер с листьями салата" width="140"
                  height="140">
              </a>
              <h3 class="product-card__text">
                Чизбургер с листьями салата
              </h3>
              <span class="product-card__price">
                160 <span>грн</span>.
              </span>
              <button class="button-accent product-card__btn" type="button">
                В корзину
              </button>
            </article>
          </li>

          <li class="exclusive-products__item swiper-slide">
            <article class="product-card">
              <img class="product-card__img" src="images/burgers/2.jpg" alt="Бифбургер" width="140" height="140">
              <h3 class="product-card__text">
                Бифбургер
              </h3>
              <span class="product-card__price">
                190 <span>грн</span>.
              </span>
              <button class="button-accent product-card__btn" type="button">
                В корзину
              </button>
            </article>
          </li>

          <li class="exclusive-products__item swiper-slide">
            <article class="product-card">
              <img class="product-card__img" src="images/burgers/3.jpg" alt="Королевский чизбургер" width="140"
                height="140">
              <h3 class="product-card__text">
                Королевский чизбургер
              </h3>
              <span class="product-card__price">
                260 <span>грн</span>.
              </span>
              <button class="button-accent product-card__btn" type="button">
                В корзину
              </button>
            </article>
          </li>

          <li class="exclusive-products__item swiper-slide">
            <article class="product-card">
              <img class="product-card__img" src="images/burgers/4.jpg" alt="Черный гамбургер" width="140" height="140">
              <h3 class="product-card__text">
                Черный гамбургер
              </h3>
              <span class="product-card__price">
                199 <span>грн</span>.
              </span>
              <button class="button-accent product-card__btn" type="button">
                В корзину
              </button>
            </article>
          </li>

          <li class="exclusive-products__item swiper-slide">
            <article class="product-card">
              <img class="product-card__img" src="images/burgers/1.jpg" alt="Чизбургер с листьями салата" width="140"
                height="140">
              <h3 class="product-card__text">
                Чизбургер с листьями салата
              </h3>
              <span class="product-card__price">
                160 <span>грн</span>.
              </span>
              <button class="button-accent product-card__btn" type="button">
                В корзину
              </button>
            </article>
          </li>

          <li class="exclusive-products__item swiper-slide">
            <article class="product-card">
              <img class="product-card__img" src="images/burgers/2.jpg" alt="Бифбургер" width="140" height="140">
              <h3 class="product-card__text">
                Бифбургер
              </h3>
              <span class="product-card__price">
                190 <span>грн</span>.
              </span>
              <button class="button-accent product-card__btn" type="button">
                В корзину
              </button>
            </article>
          </li>

          <li class="exclusive-products__item swiper-slide">
            <article class="product-card">
              <img class="product-card__img" src="images/burgers/3.jpg" alt="Королевский чизбургер" width="140"
                height="140">
              <h3 class="product-card__text">
                Королевский чизбургер
              </h3>
              <span class="product-card__price">
                260 <span>грн</span>.
              </span>
              <button class="button-accent product-card__btn" type="button">
                В корзину
              </button>
            </article>
          </li>

          <li class="exclusive-products__item swiper-slide">
            <article class="product-card">
              <img class="product-card__img" src="images/burgers/4.jpg" alt="Черный гамбургер" width="140" height="140">
              <h3 class="product-card__text">
                Черный гамбургер
              </h3>
              <span class="product-card__price">
                199 <span>грн</span>.
              </span>
              <button class="button-accent product-card__btn" type="button">
                В корзину
              </button>
            </article>
          </li>

          <li class="exclusive-products__item swiper-slide">
            <article class="product-card">
              <img class="product-card__img" src="images/burgers/1.jpg" alt="Чизбургер с листьями салата" width="140"
                height="140">
              <h3 class="product-card__text">
                Чизбургер с листьями салата
              </h3>
              <span class="product-card__price">
                160 <span>грн</span>.
              </span>
              <button class="button-accent product-card__btn" type="button">
                В корзину
              </button>
            </article>
          </li>

          <li class="exclusive-products__item swiper-slide">
            <article class="product-card">
              <img class="product-card__img" src="images/burgers/2.jpg" alt="Бифбургер" width="140" height="140">
              <h3 class="product-card__text">
                Бифбургер
              </h3>
              <span class="product-card__price">
                190 <span>грн</span>.
              </span>
              <button class="button-accent product-card__btn" type="button">
                В корзину
              </button>
            </article>
          </li>

          <li class="exclusive-products__item swiper-slide">
            <article class="product-card">
              <img class="product-card__img" src="images/burgers/3.jpg" alt="Королевский чизбургер" width="140"
                height="140">
              <h3 class="product-card__text">
                Королевский чизбургер
              </h3>
              <span class="product-card__price">
                260 <span>грн</span>.
              </span>
              <button class="button-accent product-card__btn" type="button">
                В корзину
              </button>
            </article>
          </li>

          <li class="exclusive-products__item swiper-slide">
            <article class="product-card">
              <img class="product-card__img" src="images/burgers/4.jpg" alt="Черный гамбургер" width="140" height="140">
              <h3 class="product-card__text">
                Черный гамбургер
              </h3>
              <span class="product-card__price">
                199 <span>грн</span>.
              </span>
              <button class="button-accent product-card__btn" type="button">
                В корзину
              </button>
            </article>
          </li>
        </ul>

      </div>
      <div class="exclusive-products__button-swiper">
        <button class="exclusive-products__button swiper-button-right">
          <svg>
            <use xlink:href="images/sprite.svg#vector"></use>
          </svg>
        </button>
        <button class="exclusive-products__button swiper-button-left">
          <svg>
            <use xlink:href="images/sprite.svg#vector"></use>
          </svg>
        </button>

      </div>
      <div class="exclusive-products__pagination">
        <div class="swiper-pagination"></div>
      </div>
    </div>


  </div>
</section>