<section class="cheeseburger-tabs section">
  <div class="container">
    <div class="cheeseburger-tabs__box">

      <div class="cheeseburger-tabs__top">

        <a class="cheeseburger-tabs__top-item cheeseburger-tabs__top-item--active" href="#tab-1">
          Описание
        </a>
        <a class="cheeseburger-tabs__top-item" href="#tab-2">
          Характеристики
        </a>
        <a class="cheeseburger-tabs__top-item " href="#tab-3">
          Отзывы (2)
        </a>
      </div>

      <div class="cheeseburger-tabs__content">
        <ul class="cheeseburger-tabs__content-item cheeseburger-tabs__content-item--active" id="tab-1">
          <li class="cheeseburger-tabs__text">
            <p>
              Рубленый бифштекс из натуральной говядины на карамелизованной булочке, с ломтиком сыра «Чеддер»,
              кетчупом,
              горчицей,
              луком и маринованными огурчиками.
            </p>
          </li>
          <li class="cheeseburger-tabs__text">
            <p>
              Аллергены: Глютен, Молоко, Горчица, Может содержать сою, яйцо, следы кунжута
            </p>
          </li>
          <li class="cheeseburger-tabs__text">
            <p>
              Внешний вид товара может отличаться от изображений, представленных на сайте.
            </p>
          </li>
        </ul>

        <ul class="cheeseburger-tabs__content-item" id="tab-2">
          <li class="cheeseburger-tabs__content-description">
            <p>Диаметр:
              <span>
                20 см
              </span>
            </p>
          </li>
          <li class="cheeseburger-tabs__content-description">
            <p>Вес:
              <span>
                300 гр
              </span>
            </p>
          </li>
          <li class="cheeseburger-tabs__content-description">
            <p>Калорийность (на 100г):
              <span>
                295 ккал
              </span>
            </p>
          </li>
          <li class="cheeseburger-tabs__content-description">
            <p>Срок хранения:
              <span>
                до 3 дней
              </span>
            </p>
          </li>
        </ul>

        <div class="cheeseburger-tabs__content-item" id="tab-3">
          <div class="comments">
            <h3 class="comments__title">
              Мнения наших клиентов
            </h3>

            <div class="comments__content comments__content-border">
              <div class="comments__content-inner">
                <figure class="comments__content-wrap">
                  <img class="comments__content-img" src="images/image_reviews.jpg" alt="фото клиента">
                  <div class="comments__content-box">
                    <p class="comments__content-name">
                      Андрей
                    </p>
                    <time class="comments__content-data" datetime="2021-06-10">
                      10.06.2021
                    </time>
                  </div>
                </figure>
                <div class="star comments__content-star" data-rateyo-rating="5"></div>
              </div>
              <blockquote class="comments__content-text">
                Доставили быстро. Товар свежий и очень вкусный, буду пробовать еще!))
              </blockquote>
            </div>
            <div class="comments__content">
              <div class="comments__content-inner">
                <figure class="comments__content-wrap">
                  <img class="comments__content-img" src="images/image_reviews.jpg" alt="фото клиента">
                  <div class="comments__content-box">
                    <p class="comments__content-name">
                      Екатерина Белая
                    </p>
                    <time class="comments__content-data" datetime="2021-06-07">
                      7.06.2021
                    </time>
                  </div>
                </figure>
                <div class="star comments__content-star" data-rateyo-rating="4"></div>
              </div>
              <blockquote class="comments__content-text">
                этот бургер неплохой чтобы перекусить, когда нет возможности или времени что-нибудь приготовить. Это
                отличный вариант,
                чтобы съесть на ходу, но чтобы побаловать себя, я больше предпочту пиццу
              </blockquote>
            </div>

            <h3 class="comments__subtitle">
              Оставить отзыв
            </h3>

            <form class="comments-form" action="#">
              <div class="comments-form__label">
                <span class="comments-form__label-title">Ваша оценка *</span>
                <div class="star-nofix"></div>
              </div>

              <div class="comments-form__input">

                <label class="comments-form__input-label comments-form__input-texarea" for="message">Ваш отзыв *
                  <textarea class="comments-form__textarea" id="message" placeholder="Введите текст отзыва"></textarea>
                </label>

                <div class="comments-form__textbox">
                  <label class="comments-form__input-label" for="username">
                    Имя
                    <input class="comments-form__text" id="username" type="text" name="name"
                      placeholder="Введите ваше имя">
                  </label>

                  <label class="comments-form__input-label" for="email">Email *
                    <input class="comments-form__text" id="email" type="email" placeholder="youremail@mail.com"
                      required>
                  </label>
                </div>
              </div>
              <div class="comments-form__checked">
                <div class="comments-form__checked-box">

                  <input class="comments-form__checkbox" type="checkbox" id="checkbox" required>
                  <label class="comments-form__checkbox-label" for="checkbox">
                    Сохранить моё имя, email и адрес сайта в этом браузере для последующих моих
                    комментариев.
                  </label>
                </div>
                <button class="comments-form__checked-btn button-accent" type="submit">
                  Оставить отзыв
                </button>

              </div>
            </form>
          </div>
        </div>
      </div>


    </div>

</section>