<section class="info-delivery section">
  <div class="container">
    <div class="info-delivery__box">
      <div class="info-delivery__photo" style="background-image: url('images/food_delivery.png');">
      </div>

      <div class="info-delivery__inner">
        <h2 class="title info-delivery__title">
          Оставайтесь дома, <br>
          а мы позаботимся о еде
        </h2>
        <p class="info-delivery__description">
          У нас есть вкусная еда и мы готовы доставить её к вам домой! Воспользуйтесь нашей доставкой прямо сейчас и
          получите
          скиидку!
        </p>

        <ul class="info-delivery__list">
          <li class="info-delivery__item info-delivery__item--stopwatch">Быстрая доставка за 15 минут
          </li>
          <li class="info-delivery__item info-delivery__item--delivery">Вежливые курьеры</li>
          <li class="info-delivery__item info-delivery__item--shop">Более 500 заведений</li>
        </ul>
        <a class="button-accent info-delivery__link" href="#">Подробнее</a>
      </div>

    </div>
  </div>
</section>