<section class="product-hero section">
  <div class="container">
    <h2 class="title product-hero__title">
      Популярные категории
    </h2>

    <ul class="popular-categories">
      <li class="popular-categories__item">
        <button class="popular-categories__btn" type="button" data-filter="all">
          <svg class="popular-categories__btn-img">
            <use xlink:href="images/sprite.svg#burgerwhite"></use>
          </svg>
          Бургеры
        </button>
      </li>

      <li class="popular-categories__item">
        <button class="popular-categories__btn" type="button" data-filter=".category-b">
          <svg class="popular-categories__btn-img">
            <use xlink:href="images/sprite.svg#pizza"></use>
          </svg>
          Пицца
        </button>
      </li>

      <li class="popular-categories__item">
        <button class="popular-categories__btn" type="button" data-filter=".category-c">
          <svg class="popular-categories__btn-img">
            <use xlink:href="images/sprite.svg#sandwich_1"></use>
          </svg>
          Сендвичи
        </button>
      </li>
      <li class="popular-categories__item">
        <button class="popular-categories__btn" type="button" data-filter=".category-d">
          <svg class="popular-categories__btn-img">
            <use xlink:href="images/sprite.svg#christmasdinner"></use>
          </svg>
          Азиатская кухня
        </button>
      </li>
      <li class="popular-categories__item">
        <button class="popular-categories__btn" type="button" data-filter=".category-e">
          <svg class="popular-categories__btn-img">
            <use xlink:href="images/sprite.svg#dish"></use>
          </svg>
          Cеты
        </button>
      </li>
    </ul>

    <ul class="popular-category">
      <li class="popular-category__elem mix category-b">
        <article class="product-card">
          <a href="product.html">
            <img class="product-card__img" src="images/burgers/1.jpg" alt="Чизбургер с листьями салата" width="140"
              height="140">
          </a>
          <h3 class="product-card__text">
            Чизбургер с листьями салата
          </h3>
          <span class="product-card__price">
            160 <span>грн</span>.
          </span>
          <button class="button-accent product-card__btn" type="button">
            В корзину
          </button>
        </article>
      </li>

      <li class="popular-category__elem mix category-b">
        <article class="product-card">
          <a href="product.html">
            <img class="product-card__img" src="images/burgers/2.jpg" alt="Бифбургер" width="140" height="140">
          </a>
          <h3 class="product-card__text">
            Бифбургер
          </h3>
          <span class="product-card__price">
            190 <span>грн</span>.
          </span>
          <button class="button-accent product-card__btn" type="button">
            В корзину
          </button>
        </article>
      </li>

      <li class="popular-category__elem mix category-c">
        <article class="product-card">
          <a href="product.html">
            <img class="product-card__img" src="images/burgers/3.jpg" alt="Королевский чизбургер" width="140"
              height="140">
          </a>
          <h3 class="product-card__text">
            Королевский чизбургер
          </h3>
          <span class="product-card__price">
            260 <span>грн</span>.
          </span>
          <button class="button-accent product-card__btn" type="button">
            В корзину
          </button>
        </article>
      </li>
      <li class="popular-category__elem mix category-e">
        <article class="product-card">
          <a href="product.html">
            <img class="product-card__img" src="images/burgers/4.jpg" alt="Черный гамбургер" width="140" height="140">
          </a>
          <h3 class="product-card__text">
            Черный гамбургер
          </h3>
          <span class="product-card__price">
            199 <span>грн</span>.
          </span>
          <button class="button-accent product-card__btn" type="button">
            В корзину
          </button>
        </article>
      </li>
      <li class="popular-category__elem mix category-e">
        <article class="product-card">
          <a href="product.html">
            <img class="product-card__img" src="images/burgers/5.jpg" alt="Чикен бургер" width="140" height="140">
          </a>
          <h3 class="product-card__text">
            Чикен бургер
          </h3>
          <span class="product-card__price">
            180 <span>грн</span>.
          </span>
          <button class="button-accent product-card__btn" type="button">
            В корзину
          </button>
        </article>
      </li>
      <li class="popular-category__elem mix category-b">
        <article class="product-card">
          <a href="product.html">
            <img class="product-card__img" src="images/burgers/6.jpg" alt="Чизбургер с листьями салата" width="140"
              height="140">
          </a>
          <h3 class="product-card__text">
            Чизбургер с листьями салата
          </h3>
          <span class="product-card__price">
            160 <span>грн</span>.
          </span>
          <button class="button-accent product-card__btn" type="button">
            В корзину
          </button>
        </article>
      </li>

      <li class="popular-category__elem mix category-c">
        <article class="product-card">
          <a href="product.html">
            <img class="product-card__img" src="images/burgers/7.jpg" alt=" Бифбургер" width="140" height="140">
          </a>
          <h3 class="product-card__text">
            Бифбургер
          </h3>
          <span class="product-card__price">
            190 <span>грн</span>.
          </span>
          <button class="button-accent product-card__btn" type="button">
            В корзину
          </button>
        </article>
      </li>

      <li class="popular-category__elem mix category-c">
        <article class="product-card">
          <a href="product.html">
            <img class="product-card__img" src="images/burgers/8.jpg" alt="Королевский чизбургер" width="140"
              height="140">
          </a>
          <h3 class="product-card__text">
            Королевский чизбургер
          </h3>
          <span class="product-card__price">
            260 <span>грн</span>.
          </span>
          <button class="button-accent product-card__btn" type="button">
            В корзину
          </button>
        </article>
      </li>

      <li class="popular-category__elem mix category-e">
        <article class="product-card">
          <a href="product.html">
            <img class="product-card__img" src="images/burgers/9.jpg" alt="Черный гамбургер" width="140" height="140">
          </a>
          <h3 class="product-card__text">
            Черный гамбургер
          </h3>
          <span class="product-card__price">
            199 <span>грн</span>.
          </span>
          <button class="button-accent product-card__btn" type="button">
            В корзину
          </button>
        </article>
      </li>
      <li class="popular-category__elem mix category-e">
        <article class="product-card">
          <a href="product.html">
            <img class="product-card__img" src="images/burgers/10.jpg" alt="Чикен бургер" width="140" height="140">
          </a>
          <h3 class="product-card__text">
            Чикен бургер
          </h3>
          <span class="product-card__price">
            180 <span>грн</span>.
          </span>
          <button class="button-accent product-card__btn" type="button">
            В корзину
          </button>
        </article>
      </li>
    </ul>
    <button class="button-secondary product-hero__button" type="button">
      Показать еще
    </button>
  </div>
</section>